includes:
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 4
    paths:
        - app
        - database
        - routes
        - database
        - public
        - resources/views
        - tests
    excludePaths:
        - vendor